
body{
    font-family: 'Montserrat', sans-serif;/*Para seleccionar el tipo de letra*/
}

header{
    background-color: #BBBBBB;
    padding: 20px 0; /*propiedad de espaciamiento externo*/
}

.caja{
    width: 940px;
    position: relative;/**//**//**//**//**/
    margin: 0 auto;/*margen automatico para que el sistema reconozca el tamaño de la pantalla*/
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;/*Se utiliza para que la lista sea horizontal y no vertical*/
    margin: 0 0 0 15px/*para colocar los margene internos, tiene 4 parametros (arriba, derecha, abajo, izquierda)*/
}

nav a{
    text-transform: uppercase;/*Se utiliza para colocar todo el texto en mayuscula*/
    color: #000000;
    font-weight: bold;/*definir negrilla*/
    font-size: 22px;/*alterar el tamaño de la letra*/
    text-decoration: no;/*quita el subrrayado al momento de darle click al hipervinculo*/
}

nav a:hover{/*captura el movimiento del mouse*/
    color: #c78c19;
    text-decoration: underline;
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;/*Tamaño, propiedad, color*/
    border-radius: 10px;
}

.productos li:hover{
    border-color: #c78c19;
}

.productos li:active{/*reconoce cuando se realiza click*/
    border-color:#088c19;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 33px;
}

.producto-descripcion{
    font-size: 18px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}

form{
    margin: 40px 0; /*Coloca el margen de 40 para arriba y abajo y de 0 para los costados
    */
}

form label, form p, legend{
    display: block;/*Para colocar el formulario en formato vertical*/
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;/*Para colocar el formulario en formato vertical*/
    margin: 0 0 20px;
    padding: 10px 20px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all;/*El tiempo que se demora en hacer la trancisión*/
    cursor: pointer;/*Para canbiar el mouse por la mano cuando pase el mouse por encima*/
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.2);/*Para aumentar el tamaño del boton*/
}

table{
    margin: 40px 40px;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

/*Aquí inicia CSS para nuestra home*/

.banner{
    width: 100%;
}

.principal{
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;/*Se utiliza para cambiar el tamaño de la fuente, la referencia 2em quiere decir que es dos veces el tamaño padron*/
    margin: 0 0 1em;
    clear: left;/*Cualquier configuracion que venga después del titulo de la izquierda limpie*/
}

.principal p{
    margin: 0 0 1em;/*Margen*/
}

.principal strong{
    font-weight: bold;/*Letra en negrilla*/
}

.principal em{
    font-style: italic;/*Tipo de letra*/
}

.aerografo{
    width: 120px;
    float: left;/*Para que la imagen quede flotante*/
    margin: 0 20px 20px 0;
}

.mapa{
    padding: 3em 0;;
    background: linear-gradient(#FEFEFE, #888888);/*Se utiliza para degradar el color*/
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}

.diferenciales{
    padding: 3em 0;
    background: #888888;
}

.contenido-diferenciales{
    width: 640px;
    margin: 0 auto;
}

.lista-diferenciales{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items{
    line-height: 1.5;
}

.items:before{
    content: "❃";
}/*Se utiliza para agregar texto antes*/

.items:first-child{
    font-weight: bold;
}/*la palabra first-child quiere decir que solamente aplica la configuración al primer ítem o hijo*/

.imagen-diferenciales{
    width: 60%;/*Tamaño de la imagen en la página*/
    transition: 400ms;
    box-shadow: 10px 10px 30px 15px #000000;/*Se utiliza para crear sombras(Ubicacion de la sombra en el eje horizontal, Ubicacion de la sombra en el eje vertical, difuminacion, esprint, color de la sombra)*/
}

.imagen-diferenciales:hover{
    opacity: 30%;/*Se utiliza para colocarle opacidad*/
}

.video{
    width: 560px;
    margin: 1em auto;
}

@media screen and (max-width:480px){
    h1{
        text-align: center;
    }

    nav{
        position: static;
    }

    .caja, .principal, .mapa-contenido, .contenido-diferenciales, .video{
        width: auto;
    }

    .lista-diferenciales, .imagen-diferenciales{
        width: 100%;
    }

}/*Se utiliza para ajustarlo a la pantalla del celular*/


/*transform: rotate(360deg); -->>Para rotar la propiedad*/